* {
  border: 1px solid pink;
}

/* @media (min-width: 769px) {
  main {
    padding-top: 15rem;
  }
}

@media (min-width: 480px) {
  main {
    padding-top: 10rem;
  }
}

@media (max-width: 480px) {
  main {
    padding-top: 10rem;
  }
} */

footer.page-footer {
  text-align: center;
  right: 0;
  bottom: 3rem;
  font-size: 0.8rem;
  margin: 1rem;
}

